# Servidor de producción (Obligatorio para Render)
gunicorn==23.0.0  # Versión estable recomendada en 2025

# Framework web y entorno
Flask
python-dotenv

# Base de datos (MongoDB Atlas)
pymongo[srv]

# Integración con Mailchimp
mailchimp-marketing

# Peticiones HTTP y utilidades
requests
